<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-back-button></ion-back-button>
  	</ion-buttons>
    <ion-title>{{tour?.Title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>
                {{tourType}} / {{region}}
            </ion-card-subtitle>
            <ion-card-title>
                {{tour.Title}}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-img src="https://source.unsplash.com/random/1024x1024" (ionError)="loadDefaultImage($event)"></ion-img>
            {{tour.Description}}
            <hr />
            <ion-grid class="ion-no-padding">
                <ion-row style="margin-left: -12px;">
                    <ion-col size-xs="12" size-md="auto">
                        <ion-chip>
                            <ion-icon name="stopwatch"></ion-icon>
                            <ion-label>{{tour.Duration}}</ion-label>
                        </ion-chip>
                    </ion-col>
                    <ion-col size-xs="12" size-md="auto">
                        <ion-chip>
                            <ion-icon name="people"></ion-icon>
                            <ion-label>up to {{tour.MaxPersons}}</ion-label>
                        </ion-chip>
                    </ion-col>
                    <ion-col size-xs="12" size-md="auto">
                        <ion-chip>
                            <ion-icon name="language"></ion-icon>
                            <ion-label>{{tour.PriceG}} &euro; (German)</ion-label>
                        </ion-chip>
                    </ion-col>
                    <ion-col size-xs="12" size-md="auto">
                        <ion-chip>
                            <ion-icon name="globe"></ion-icon>
                            <ion-label>{{tour.PriceF}} &euro; (Other languages)</ion-label>
                        </ion-chip>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
<!--    FAB Social Share-->
<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="toggleSocial()">
    <ion-fab-button color="light">
        <ion-icon name="share-social"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
        <ion-fab-button (click)="openSocial('facebook')" color="dark">
            <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="openSocial('instagram')" color="dark">
            <ion-icon name="logo-instagram"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="openSocial('twitter')" color="dark">
            <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="openSocial('whatsapp')" color="dark">
            <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>
<ion-footer class="ion-padding" style="height: 80px;" *ngIf="!showSocial">
    <ion-button (click)="presentActionSheet()"
                expand="block">
        Options
    </ion-button>
<!--    <ion-button (click)="_favorites.add(tour); isFavorite = true;"-->
<!--                *ngIf="!isFavorite"-->
<!--                expand="block">-->
<!--        Add to Favorites-->
<!--    </ion-button>-->
<!--    <ion-button (click)="_favorites.remove(tour); isFavorite=false;"-->
<!--                *ngIf ="isFavorite"-->
<!--                expand="block">-->
<!--        Remove from Favorites-->
<!--    </ion-button>-->
</ion-footer>
