<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item *ngFor="let tour of _favorites.favTours" [routerLink]="['/details/',tour.ID]" routerDirection="forward">
			{{tour.Title}}
		</ion-item>
		<ion-item *ngIf="_favorites.favTours?.length==0">
			Fussy much? You do not have any favorites yet!
		</ion-item>
	</ion-list>
</ion-content>
